asgiref==3.5.0
Django==4.0.3
django-filter==21.1
djangorestframework==3.13.1
GDAL @ file:///F:/Azat_work_2022/data_api/GDAL-3.4.2-cp39-cp39-win_amd64.whl
h3==3.7.4
psycopg2-binary==2.9.3
Pygments==2.11.2
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
