# -*- coding: utf-8 -*-

import os
from .settings import *

STATIC_URL = '/static/'
STATIC_ROOT = os.path.join(BASE_DIR, 'static')
MEDIA_URL = '/media/'
MEDIA = 'media'
MEDIA_ROOT = os.path.join(BASE_DIR, 'media')

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '***',
        'USER': '***',
        'PASSWORD': ' | ***',
        'HOST': 'localhost | ***',
        'PORT': ' | ***',
    }
}


TIME_ZONE = 'Europe/Moscow'

